@import "./mixins/config.scss";
@import "./common/var.scss";
@import "mixins/mixins";
@import "mixins/utils";
//后台布局
//通用
body,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
// 构建后台布局样式
@include b(admin){
    position: relative;
    width: 100%;
    overflow: hidden;

    .#{$namespace}-breadcrumb{
        height: 50px;
        line-height:50px;
        background:#fff;
        padding:0 15px;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
        .#{$namespace}-breadcrumb__item:last-child .#{$namespace}-breadcrumb__separator {
            display: none;
        }
        & .#{$namespace}-button.breadcrumb-return{
            border: none;
            background: none;
            padding-left:0px ;
            padding-right:0px ;
            & .#{$namespace}-icon-back{
                font-size: 18px;
                vertical-align: text-bottom;
            }
        }
    }
    // 头部
    @include e(header){
        position: fixed;
        top: 0;
        right: 0;
        left: $--admin-aside-width;
        z-index: 1030;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
        height:$--admin-header-height;
        & .#{$namespace}-header-left{
            left: 0;
            top: 0;
            padding-left:10px; 
            position: absolute!important;
            margin-right: auto!important;
            border: none !important;
        }
        & .#{$namespace}-header-right{
            right: 0;
            top: 0;
            position: absolute!important;
            border: none !important;
            & .#{$namespace}-icon-dropdown-arrow{
                vertical-align: middle !important;
                margin-right: 0px;
            }
            & .#{$namespace}-menu-item{
                padding: 0 8px;
            }
        }
        & .#{$namespace}-menu-item{
            height: 50px;
            line-height: 50px;
            border-bottom:none;
            padding: 0  10px;
            & [class^="#{$namespace}-icon-"], [class*=" #{$namespace}-icon-"]{
                width: auto;
                margin-right: 0px;
                font-size: 14px;
            }
        }
        & .#{$namespace}-header-menu{
            height: 50px;
            &::after{
                content: "";
                clear: both;
                display: block;
            }
        }
    }
    // 左侧菜单
    @include e(aside){
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1020;
        width:$--admin-aside-width;
        background-color: $--color-white;
        overflow: hidden;
        &-inner{
            position: relative;
            width: ($--admin-aside-width)+20;
            height: 100%;
            overflow-x: hidden;
            background-color: #344058;
            >.#{$namespace}-menu{
                border-right: none;
                width: $--admin-aside-width;
                margin-top: $--admin-header-height;
                &.#{$namespace}-menu--collapse{
                    width: 64px;
                }
            }
            & .#{$namespace}-submenu__title{
                height: 50px;
                line-height: 50px;
            }
        }
    }
    // 工具条
    @include e(tool){
        position: fixed;
        left: 220px;
        top: 50px;
        right: 0;
        z-index: 1031;
        & + .#{$namespace}-admin__body{
            top: 50px;
        }
    }
    // 内容显示
    @include e(container){
        position: fixed;
        top: $--admin-header-height;
        left: $--admin-aside-width;
        bottom: 0;
        right: 0;
        z-index: 998;
        width: auto;
        overflow: hidden;
        box-sizing: border-box;
        background-color: #f1f4f5;
    }
    // logo
    @include e(logo){
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1002;
        width: $--admin-aside-width;
        height: $--admin-header-height;
        padding: 0 15px;
        box-sizing: border-box;
        overflow: hidden;
        font-weight: 400;
        background-repeat: no-repeat;
        background-position: center center;
        background: $--color-primary;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
        line-height: 50px;
        text-align: center;
        color: #ffffff;
        // 不显示小标题
        &>span.#{$namespace}-admin__logo-mini{
            display: none;
        }
    }
    // 后台主要显示
    @include e(body){
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        padding: 15px;
        width: auto;
        overflow: hidden;
        overflow-y: auto;
        box-sizing: border-box;
        background-color: #f1f4f5;
    }
    //table页面
    @include e(table-toolbar){
        margin-bottom: 15px;
    }
    //提示页面
    @include e(tips){
        height: 100%;
        width: 100%;
        display: table;
    }
    @include e(tips-centerbox){
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    @include e(tips-icon){
        font-size: 200px;
    }
    @include e(tips-text){
        width: 500px;
        margin: 30px auto;
        padding-top: 20px;
        border-top: 5px solid transparent;
        color: $--color-text-regular;
        font-size: 30px;
        @include when(error){
            border-top-color: $--color-danger;
        }
        @include when(success){
            border-top-color: $--color-success;
        }
    }
    @include e(tips-jump){
        margin-top: 15px;
        font-size: 16px;
    }
    @include e(tips-url){
        text-decoration: none;
        transition: color .2s cubic-bezier(.645,.045,.355,1);
        color: $--color-text-primary;
        &:hover{
            color: $--color-primary;
        }
    }
    // 搜索框宽度
    @include e(search){
        float:right;
        width: 380px;
        & .#{$namespace}-input-group__prepend{
            cursor: pointer;
        }
        & .#{$namespace}-search__field-popper{
            margin: 5px 0;
            background-color: #fff;
            border: 1px solid #ebeef5;
            border-radius: 4px;
            box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
        }
    }
    // 更多App
    @include e(moreapps-content){
        display: none;
    }
    // 跟多app样式
    @include e(moreapps){
        border: none;
        border-radius: 2px;
        padding: 0px;
        .#{$namespace}-popup__header{
            padding-bottom: 15px;
            background: $--menu-background-color;
            cursor:initial;
        }
        .#{$namespace}-popup__content{
            padding: 20px 5px 0px 5px;
        }
        .#{$namespace}-popup__title,
        .#{$namespace}-icon-close{
            color: $--color-white;
        }
        .#{$namespace}-popup__title{
            font-size: 14px;
            font-weight: 500;
        }
        .#{$namespace}-icon-close{
            &:before{
                content: "\e65e";
            }
        }
        .#{$namespace}-admin__moreapps-content{
            display: block;
        }
        .#{$namespace}-admin__moreapps-item{
            padding: 0 15px;
            float: left;
        }
        .#{$namespace}-card{
            background: $--menu-background-color;
            box-sizing: border-box;
            margin-bottom: 20px;
            cursor: pointer;
            color: $--color-white;
            text-align: center;
            &:hover{
                opacity: .9;
            }
            & .#{$namespace}-admin__app-icon{
                font-size: 2em;
            }
            & .#{$namespace}-admin__app-name{
                font-size: 14px;
                font-weight: 600;
                margin: 15px 0;
            }
            @include when(active){
                background: $--color-primary;
            }
        }
        .#{$namespace}-card__body {
            padding: 20px 20px 1px;
        }
    }
    // 设置自适应和收缩展开样式
    @include when(shrink){
        //大屏幕下的收缩
        // 收缩侧边菜单
        & .#{$namespace}-admin__aside{
            width: 64px;
        }
        // 动画
        .#{$namespace}-submenu__title .#{$namespace}-submenu__icon-arrow {
            transition: .2s;
            opacity: 0;
        }
        // 滚动
        & .#{$namespace}-admin__aside-inner{
            width: 64px;
        }
        // 收缩菜单
        & .#{$namespace}-admin__aside .#{$namespace}-menu{
            width: 64px;
            > .#{$namespace}-menu-item,
            > .#{$namespace}-submenu > .#{$namespace}-submenu__title {
              [class^="#{$namespace}-icon-"] {
                margin: 0;
                vertical-align: middle;
                width: 24px;
                text-align: center;
              }
              .#{$namespace}-submenu__icon-arrow {
                display: none;
              }
              span {
                height: 0;
                width: 0;
                overflow: hidden;
                visibility: hidden;
                display: inline-block;
              }
            }
        
            > .#{$namespace}-menu-item.is-active i {
              color: inherit;
            }
        
            .#{$namespace}-menu .#{$namespace}-submenu {
              min-width: 200px;
            }
        
            .#{$namespace}-submenu {
              position: relative;
              & .#{$namespace}-menu {
                position: absolute;
                margin-left: 5px;
                top: 0;
                left: 100%;
                z-index: 10;
                border: 1px solid $--border-color-light;
                border-radius: $--border-radius-small;
                box-shadow: $--box-shadow-light;
              }
        
              &.is-opened {
                > .#{$namespace}-submenu__title .#{$namespace}-submenu__icon-arrow {
                  transform: none;
                }
              }
            }
        }
        // 收缩logo
        & .#{$namespace}-admin__logo{
            width: 64px;
            &>span.#{$namespace}-admin__logo-mini{
                display: inline-block;
            }
            &>span.#{$namespace}-admin__logo-large{
                display: none;
            }
        }
        // 头部
        & .#{$namespace}-admin__header{
            left: 64px;
        }
        & .#{$namespace}-admin__container{
            left: 64px;
        }
        & .#{$namespace}-admin__tool{
            left: 64px;
        }
    }
    & a{
        text-decoration: none;
    }
    // 设置全局动画
    .#{$namespace}-admin__logo,
    .#{$namespace}-admin__logo>span,
    .#{$namespace}-admin__header,
    .#{$namespace}-admin__container,
    .#{$namespace}-admin__tool,
    .#{$namespace}-admin__aside,
    .#{$namespace}-admin__aside-inner,
    .#{$namespace}-admin__aside .#{$namespace}-menu
    {
        transition: all .3s;
    }
    & .#{$namespace}-form-item{
        width: 50%;
    }
}
.#{$namespace}-form-item__label{
    width: 120px;
}
.#{$namespace}-form-item__content{
    margin-left: 120px;
}
// 修复搜索和操作按钮重合
@media screen and (max-width: 992px){
    @include e(search){
        width: 100%;
    }
}
@media screen and (max-width: 988px){
    @include e(search){
        width: 100%;
        float: left;
    }
}
/*
*手机页的样式
*/
@media screen and (max-width: 768px){
    @include b(admin){
        .#{$namespace}-admin__aside{
            transform: translate3d(-220px,0,0);
        }
        .#{$namespace}-admin__header{
            left: 0px;
        }
        .#{$namespace}-admin__container{
            left: 0px;
        }
        .#{$namespace}-admin__tool{
            left: 0px;
        }
        @include e(search){
            width: 100%;
        }
        & .#{$namespace}-form-item{
            width: 100%;
        }
        .#{$namespace}-admin__table-toolbar{
            &:after{
                content: '';
                display: block;
                clear: both;
            }
            .#{$namespace}-col-sm6+
            .#{$namespace}-col-sm6{
                margin-top:8px;
            }
        }
        @include when(open){
            .#{$namespace}-admin__aside{
                transform: translate3d(0,0,0);
            }
            .#{$namespace}-admin__header{
                transform: translate3d(220px,0,0);
            }
            .#{$namespace}-admin__container{
                transform: translate3d(220px,0,0);
            }
            .#{$namespace}-admin__tool{
                transform: translate3d(220px,0,0);
            }
        }
    }
}