@import "common/var";
@import "./mixins/config.scss";
@font-face {
    font-family: 'iconfont';  /* project id 1367779 */
    src: url('//at.alicdn.com/t/font_1367779_o1q1tdk2uot.eot');
    src: url('//at.alicdn.com/t/font_1367779_o1q1tdk2uot.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1367779_o1q1tdk2uot.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1367779_o1q1tdk2uot.woff') format('woff'),
    url('//at.alicdn.com/t/font_1367779_o1q1tdk2uot.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1367779_o1q1tdk2uot.svg#iconfont') format('svg');
}
[class^="#{$namespace}-icon-"], [class*=" #{$namespace}-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.#{$icon-prefix}-shrink-right:before{content: "\e644"}
.#{$icon-prefix}-more-vertical:before{content: "\e63e"}
.#{$icon-prefix}-arrow-down:before{content: "\e600"}
.#{$icon-prefix}-arrow-up:before{content: "\e65c"}
.#{$icon-prefix}-arrow-left:before{content: "\e65b"}
.#{$icon-prefix}-arrow-right:before{content: "\e65a"}
.#{$icon-prefix}-screen-full:before{content: "\e655"}
.#{$icon-prefix}-earth:before{content: "\e607"}
.#{$icon-prefix}-close:before{content: "\e659"}
.#{$icon-prefix}-circle-close:before{content: "\e65e"}
.#{$icon-prefix}-info:before{content: "\e67d"}
.#{$icon-prefix}-success:before{content: "\e73c"}
.#{$icon-prefix}-warning:before{content: "\e673"}
.#{$icon-prefix}-error:before{content: "\e62b"}
.#{$icon-prefix}-question:before{content: "\e680"}
.#{$icon-prefix}-circle-check:before{content: "\e601"}
.#{$icon-prefix}-check:before{content: "\e602"}