@import "./common/var.scss";
@import "./mixins/mixins.scss";
@import "./mixins/config.scss";
@include b(table) {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: $--color-white;
    font-size: 14px;
    color: $--table-font-color;
    border: $--table-border;
    box-sizing: border-box;
    // 数据为空
    @include e(empty-block) {
        min-height: 60px;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include e(empty-text) {
        line-height: 60px;
        width: 50%;
        color: $--color-text-secondary;
    }
    & *{
        box-sizing: border-box;
    }
    th,td{
        padding: 5px 0; 
        border-bottom: $--table-border;
        box-sizing: border-box;
        text-align: left;
        > .cell{
            height: 27px; 
            line-height: 27px; 
            padding: 0 15px; 
            position: relative; 
            overflow: hidden; 
            text-overflow: ellipsis; 
            white-space: nowrap; 
            box-sizing: border-box;
        }
    }
    thead{
        color: $--table-header-font-color;
        font-weight: 500;
    }
    th{
        background: $--background-color-base;
        padding: 10px 0; 
        white-space: nowrap;
        overflow: hidden;
        user-select: none;
    }
    th.is-sortable {
        cursor: pointer;
    }
    @include m(border){
        th, td {
            border-right: $--table-border;
        }

        @include e(body-wrapper){
            @include when(scrolling-none) {
                ~ .#{$namespace}-table__fixed-right {
                    border-left: $--table-border;
                }
            }

            @include when(scrolling-right) {
                ~ .#{$namespace}-table__fixed-right {
                    border-left: $--table-border;
                }
            }
        }
    }
    // 浮动
    @include e((fixed)) {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0,0,0,.12);
        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: $--border-color-lighter;
          z-index: 4;
        }
    }
    @include e(fixed-right) {
        top: 0;
        left: auto;
        right: 0;
        .#{$namespace}-table__fixed-header-wrapper,
        .#{$namespace}-table__fixed-body-wrapper,
        .#{$namespace}-table__fixed-footer-wrapper {
          left: auto;
          right: 0;
        }
    }
    // body
    @include e(body-wrapper) {
        overflow: auto;
        position: relative;
        @include when(scrolling-none) {
            ~ .#{$namespace}-table__fixed-left,
            ~ .#{$namespace}-table__fixed-right {
                box-shadow: none;
            }
        }
    
        @include when(scrolling-left) {
            ~ .#{$namespace}-table__fixed-left {
                box-shadow: none;
            }
        }
    
        @include when(scrolling-right) {
            ~ .#{$namespace}-table__fixed-right {
                box-shadow: none;
            }
        }
    }
}